#confirmation {
  display: none;
  background-color: #efefef;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
}

h1 {
  text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

.container {
  padding-top: 20px;
}

form {
  padding-left: 10px;
}

.destination {
  display: none;
  color: green;
  text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}
