#confirmation {
  display: none;
  background-color: #efefef;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
}

.container {
  padding-top: 20px;
}

form {
  padding-left: 10px;
}

.destination {
  display: none;
  color: green;
}
